{% extends 'base.j2' %}
{% block contents %}
{% from 'typedef.j2' import generate_composite %}
namespace {{ T.short_name }} {{ "{" }}

/**************************************************************************************
 * TYPEDEF
 **************************************************************************************/

{{ generate_composite(T.request_type) }}
{{ generate_composite(T.response_type) }}

/**************************************************************************************
 * NAMESPACE
 **************************************************************************************/

{{ "}" }} // namespace {{ T.short_name }}
{% endblock %}
