{% extends 'base.j2' %}
{% block contents %}
{% from 'typedef.j2' import generate_composite %}

/**************************************************************************************
 * TYPEDEF
 **************************************************************************************/

{{ generate_composite(T) }}

/**************************************************************************************
 * NAMESPACE
 **************************************************************************************/

{% endblock %}
