name: Compile Examples

on:
  pull_request:
    paths:
      - ".github/workflows/compile-examples.yml"
      - "examples/**"
      - "src/**"
  push:
    paths:
      - ".github/workflows/compile-examples.yml"
      - "examples/**"
      - "src/**"

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      SKETCHES_REPORTS_PATH: sketches-reports
      LIBRARIES: |
        # Install the library from the local path.
        - source-path: ./
        - name: 107-Arduino-Debug
        - name: 107-Arduino-MCP2515
        - name: 107-Arduino-UniqueId
        - name: 107-Arduino-CriticalSection

    strategy:
      fail-fast: false

      matrix:
        board:
          - fqbn: rp2040:rp2040:arduino_nano_connect
            platforms: |
              - name: rp2040:rp2040
                source-url: https://github.com/earlephilhower/arduino-pico/releases/download/global/package_rp2040_index.json
            artifact-name-suffix: rp2040-arduino-nano-connect
          - fqbn: rp2040:rp2040:rpipico
            platforms: |
              - name: rp2040:rp2040
                source-url: https://github.com/earlephilhower/arduino-pico/releases/download/global/package_rp2040_index.json
            artifact-name-suffix: rp2040-rpipico
          - fqbn: arduino:renesas_portenta:portenta_c33
            platforms: |
              - name: arduino:renesas_portenta
            artifact-name-suffix: renesas-portenta-portenta-c33
          - fqbn: arduino:renesas_uno:minima
            platforms: |
              - name: arduino:renesas_uno
            artifact-name-suffix: renesas-uno-minima

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Compile examples
        uses: arduino/compile-sketches@main
        with:
          fqbn: ${{ matrix.board.fqbn }}
          platforms: ${{ matrix.board.platforms }}
          libraries: ${{ env.LIBRARIES }}
          enable-deltas-report: true
          github-token: ${{ secrets.GITHUB_TOKEN }}
          sketches-report-path: ${{ env.SKETCHES_REPORTS_PATH }}
          sketch-paths: |
            - examples/CAN/OpenCyphal-Blink
            - examples/CAN/OpenCyphal-Heartbeat-Publisher
            - examples/CAN/OpenCyphal-Heartbeat-Subscriber
            - examples/CAN/OpenCyphal-Service-Client
            - examples/CAN/OpenCyphal-Service-Server

      - name: Save memory usage change report as artifact
        if: github.event_name == 'pull_request'
        uses: actions/upload-artifact@v4
        with:
          name: sketches-report-${{ matrix.board.artifact-name-suffix }}
          path: ${{ env.SKETCHES_REPORTS_PATH }}
